extends layout

block content
	each val in files
		div.
			<audio id="#{val.number}">
			<source src="/sound/#{val.filename}" type="audio/mpeg">
			</audio>
		a(href="##{val.number}", onclick="document.getElementById('#{val.number}').play()") #{val.name}
